In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.


import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [4]:
#Q3. Create a Pandas DataFrame that contains the following data:

import pandas as pd

df = pd.DataFrame({"Name": ['Alice','Bob','Claire'], 
                    "Age": ['20', '25', '30'] ,
                    "Gender": ['Female', 'Male' , 'Female']})
print(df)

     Name Age  Gender
0   Alice  20  Female
1     Bob  25    Male
2  Claire  30  Female

In [9]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

'''
In Pandas, a DataFrame is a two-dimensional labeled data structure that is widely used for data manipulation and analysis. It can be thought of as a table-like data 
structure with rows and columns. A DataFrame provides a powerful and flexible way to store and organize structured data, making it easier to perform operations on the
data.

Each column in a DataFrame is represented by a Pandas Series. A Pandas Series, on the other hand, is a one-dimensional labeled array-like object that contains data of 
a single data type. It is similar to a column in a spreadsheet or a single column of a DataFrame. A DataFrame can be seen as a collection of Pandas Series that share 
a common index.
'''

import pandas as pd

# Creating a DataFrame
data = {
    "Name": ["John", "Emily", "Daniel"],
    "Age": [25, 30, 35],
    "Gender": ["Male", "Female", "Male"]
}

df = pd.DataFrame(data)
print(df)


'''
In this example, we create a DataFrame called `df` using a dictionary `data`. The dictionary contains three key-value pairs, where the keys represent column names 
("Name", "Age", "Gender") and the values represent the data for each column.

The resulting DataFrame has three columns: "Name", "Age", and "Gender", each represented by a Pandas Series. The index labels 0, 1, and 2 are automatically assigned
to the rows.

To access a single column as a Pandas Series, you can use the column name as an index for the DataFrame. For example:
'''

name_series = df["Name"]
print(name_series)


'''
In this case, we extract the "Name" column from the DataFrame `df` and store it in a variable called `name_series`. The resulting `name_series` is a Pandas Series 
object containing the values of the "Name" column.
'''
pass

     Name  Age  Gender
0    John   25    Male
1   Emily   30  Female
2  Daniel   35    Male
0      John
1     Emily
2    Daniel
Name: Name, dtype: object

In [11]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

'''
Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some commonly used functions:

1. `head()` and `tail()`: These functions allow you to view the first or last n rows of a DataFrame, respectively. They are useful for quickly inspecting the data.

2. `shape`: It returns the dimensions (number of rows and columns) of the DataFrame.

3. `info()`: It provides a concise summary of the DataFrame, including the data types and memory usage. It is helpful for understanding the structure of the DataFrame.

4. `describe()`: This function generates descriptive statistics of the numeric columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and 
                 quartiles.

5. `unique()`: It returns an array of unique values in a column of the DataFrame.

6. `value_counts()`: This function counts the occurrence of each unique value in a column of the DataFrame.

7. `sort_values()`: It allows sorting the DataFrame by one or more columns. This function is useful for sorting the data based on specific criteria.

8. `groupby()`: This function is used to group the data based on one or more columns. It enables you to perform aggregations or transformations on the grouped data.

9. `drop()`: It allows removing rows or columns from the DataFrame.

10. `fillna()`: This function is used to fill missing values in the DataFrame with specified values or using various filling strategies like mean, median, etc.
'''

#example:


import pandas as pd

# Creating a DataFrame
data = {
    "Name": ["John", "Emily", "Daniel", "John", "Emily"],
    "Age": [25, 30, 35, 28, 33],
    "Gender": ["Male", "Female", "Male", "Male", "Female"]
}

df = pd.DataFrame(data)

name_counts = df['Name'].value_counts()
print(name_counts)

John      2
Emily     2
Daniel    1
Name: Name, dtype: int64

In [12]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

'''
Among the options provided, both Series and DataFrame in Pandas are mutable in nature, while Panel is immutable.

1. Series: A Pandas Series is mutable, meaning you can modify its values or add/remove elements after it is created. You can change individual values, update multiple
   values, or append new values to an existing Series.

2. DataFrame: Similarly, a Pandas DataFrame is also mutable. You can modify the values of existing cells, add or remove columns, and perform various operations to
   manipulate the data within the DataFrame.

3. Panel: On the other hand, a Panel in Pandas is immutable. Panels were used in earlier versions of Pandas to handle three-dimensional data, but they have been 
   deprecated in favor of using multi-index DataFrames. While Panels support some operations, they do not have the same level of flexibility for modifications as 
   Series and DataFrames.

It's worth noting that while Series and DataFrames are mutable, some operations may return new objects rather than modifying the existing ones. For example, when you
perform filtering or data manipulation operations on a DataFrame, a new DataFrame may be returned with the desired changes rather than modifying the original DataFrame
in place.
'''
pass

In [13]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Creating Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 35])
genders = pd.Series(["Female", "Male", "Female"])

# Creating DataFrame using Series
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})

print(df)


'''

In this example, we create three separate Series: `names`, `ages`, and `genders`. Each Series represents a column of the DataFrame. The length of each Series is the 
same, and the values correspond to each other.

We then create a DataFrame `df` using the `pd.DataFrame()` constructor. Inside the constructor, we provide a dictionary where the keys represent the column names, and
the values represent the corresponding Series. The DataFrame is constructed by aligning the values from each Series based on their index labels.

The resulting DataFrame has three columns: "Name", "Age", and "Gender", with each column populated by the values from the respective Series.

Using this approach, you can create a DataFrame by combining multiple Series that represent different columns of the DataFrame, allowing you to organize and analyze
structured data efficiently.

'''
pass

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   35  Female